@use 'config/reset';
@use 'variaveis/variaveis';
@use 'secoes/produtos';
@use 'secoes/navbar';

@mixin container(){
    max-width: 1024px;
    width: 100%;
    margin: 0 auto;
}

body {
    background-color: variaveis.$corPrincipal;
}

header {
    background-color: variaveis.$corSecundaria;
    position: sticky;
    top: 0;
    left: 0;
    
    & .container {
        @include container();
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 16px 0;
    }
}

section {
    padding: 56px 0;

    & .container {
        @include container();

    }
    & li {
        list-style: none;
    }
}


@media screen and (max-width: variaveis.$tiblet) {
    .container {
        max-width: 80%;
    }

    .products {
        grid-template-columns: repeat(2, 48.5%);
        column-gap: 3%;
    }
}

@media screen and (max-width: variaveis.$mobile) {
    .products {
        display: block;
    }

    .product-item  {
        margin-bottom: 32px;
    }
}